<div class="col-md-12">
  <h1>Sign Up</h1>

  <%= render 'shared/errors' %>

  <form action="<%= user_form_url(@user) %>" method="post" accept-charset="utf-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <% if @user.persisted? %>
      <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="user_email">Email</label>
          <input type="text" name="user[email]"
                 id="user_email" value="<%= @user.email %>">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="user_password">Password</label>
          <input type="password" name="user[password]" id="user_password">
        </div>
      </div>
    </div>

    <input type="submit" value="<%= user_submit_text(@user) %>"
           class="btn btn-success">
  </form>
</div>